.proyectos-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 100px; /* Espacio entre los nombres de los proyectos */
  }
  
  .proyecto-nombre {
    background-color: #f0f0f0; /* Color de fondo para cada nombre de proyecto */
    padding: 5px 10px; /* Espaciado dentro de cada nombre de proyecto */
    border: 1px solid #ccc; /* Borde alrededor de cada nombre de proyecto */
  }
  