.proyectos-lista {
  display: flex;
  flex-wrap: wrap;
}

.proyecto-nombre {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-right: 10px; /* Ajusta el margen derecho para un espacio mínimo entre elementos */
}